@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&family=Open+Sans:wght@600;800&family=Roboto:wght@500&display=swap');


.blue-square{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(22, 114, 253);
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 20px;
    gap: 30rem;
    align-items: center;
}

.bq-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call{
    font-family: Montserrat;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.call-subtitle{
    font-family: Montserrat;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding-top: 5px;
}