body{
    margin: 0;
}
.top{
    display: flex;
    flex-direction: column;     
    justify-content: center;
    padding-top: 1rem;
    padding-right: 14rem;
    padding-bottom: 7rem;
    padding-left: 14rem;
    gap: 7rem;
    background-color: rgb(223, 246, 255);

}

.middle-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-right: 14rem;
    padding-bottom: 7rem;
    padding-left: 14rem;
    gap: 2rem;
    background-color: white;
    align-items: center;
}

.middle-2{
    background-color: #E6E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 7rem;
    padding-right: 14rem;
    padding-bottom: 7rem;
    padding-left: 14rem;
    gap: 2rem;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7rem;
    padding-right: 14rem;
    padding-bottom: 7rem;
    padding-left: 14rem;
    gap: 2rem;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #1F2937;
    padding: 2rem;
}

.footer-text{
    font-family: Montserrat;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

