@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&family=Open+Sans:wght@600;800&family=Roboto:wght@500&display=swap');



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(19, 99, 223);
}


.header-logo{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 24px;
}

.header-link{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    padding: 0 12px 0 12px;
    text-decoration: none;
    color: gray;
    color: rgb(19, 99, 223);
    transition: all 0.15s;
}

.header-link:hover{
    font-weight: 700;
    color: rgb(22, 114, 253);
}

.header-link:active{
    opacity: 0.6;
}





