@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&family=Open+Sans:wght@600;800&family=Roboto:wght@500&display=swap');



.hero-title{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 48px;
    display: flex;
    margin: 0;
}

.hero-subtitle{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    display: flex;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    height: 300px;
}

.hero-left{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-right{
    max-width: 700px;
    max-height: 100%;
}

.fish-pic{
    max-height: calc(254px + 1rem);
    border-radius: 15px;
}

.sign-up-button{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: rgb(22, 114, 253);
    color: white;
    transition: all 0.15s;
    border-style: none;
    width: 35%;
    cursor: pointer;
}

.sign-up-button:hover{
    background-color: rgb(19, 99, 223);
}

.sign-up-button:active{
    opacity: 0.6;
}


